.about {
	@include size(100%, 100%);
	margin-bottom: 150px;
	position: relative;


	&__img {
		max-height: 300px;
		max-width: 300px;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		margin-top: 100px;
		&:hover {
			max-height: 330px;
			max-width: 330px;
		}
	}

	&__text-block {
		font: 400 40px Century Gothic, sans-serif;
		color: #FFF;
		text-align: center;
		padding: 80px 33px;
		word-wrap: break-word;
	}

	&__text {
		font: 400 18px Century Gothic, sans-serif;
		margin: 200px;
	}

	&__text-ul {
		display: flex;
		margin-top: 45px;
	}

	&__text-li {
		font: 400 16px Century Gothic, sans-serif;
		display: inline-block;
		margin-right: 90px;
		white-space: nowrap;
		text-align: center;
	}

	&__text-icon {
		width: 50px;
		&:hover {
			width: 60px;
		}
	}


}















