@include font-face(Century Gothic, GOTHIC);

.header {
	@include size(100%, 900px);
	position: relative;
	background: #fff url(../image/bg_header.jpg) no-repeat center;
	background-size: cover;


	&__block {
		margin-top: 200px;

		&-text {
			font: 400 30px Century Gothic, sans-serif;
			display: block;
			margin-bottom: 50px;
		}
	}



	&__button {
		border: 4px solid #000;
		padding: 30px 30px;
		text-align-last: center;
		background: transparent;
		font: 400 20px Century Gothic, sans-serif;
		text-decoration: none;
		color: #000;
		display: inline-block;
		&:hover {
			color: #00aeef;
			border-color: #00aeef;
		}

	}

	&__colum {
		@include size(100%, 900px);
		background: rgba(#00aeef, 0.72);
		position: relative;
	}


	&__imges {
		@include size(270px, 270px);
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		margin-top: 100px;
	}

	&__colum-ul {
		margin: 0;
		padding-top: 70px;
		text-align: center;
	}

	&__colum-li {
		display: inline;
		margin-right: 30px;
	}

	&__colum-icon {
		width: 45px;
		margin-right: 10px;
		transition: 2s;

		&:hover {
			transform: rotate(360deg);
		}
	}

	&__name {
		font: 400 24px Century Gothic, sans-serif;
		color: #FFF;
		text-align: center;
		margin: 50px 0;

		&-phone {
			font: 400 18px Century Gothic, sans-serif;
			color: #FFF;
			display: block;
			text-decoration: none;
			margin-bottom: 30px;
			line-height: 25px;
			display: flex;
			align-items: center;

		}

		&-icon{
			width: 25px;
			margin-right: 15px;
			transition: 1s;
			&:hover {
				transform: rotate(360deg);
			}
		}

		&-mail {
			font: 400 18px Century Gothic, sans-serif;
			color: #FFF;
			text-align: center;
			text-decoration: none;
			padding-top: 25px;
			line-height: 25px;
			display: flex;
			align-items: center;
		}

	}

	&__menu {
		@include size(100%, 85px);
		background: #01cfff;
		display: flex;
		justify-content: space-between;
		ul {
			display: flex;
		}

		&-title {
			font: 400 20px Century Gothic, sans-serif;
			color: #000;
			padding: 33px 115px;
			text-align: left;
		}

		&-li {
			padding: 30px;
			background: #01cfff;
			list-style-type: none;
			&:hover {
				background: #000;
				color: #FFF;
				cursor: pointer;
			}

			& a {
				font: 400 18px Century Gothic, sans-serif;
				color: #FFF;
				text-decoration: none;
			}

		}
	}

}




