.skills {
	@include size(100%, 100%);
	position: relative;
	margin-bottom: 150px;



	&__image {
		font: 400 18px Century Gothic, sans-serif;
		text-align: center;
		padding-top: 80px;
	}


	&__icondiv {
		font: 400 16px Century Gothic, sans-serif;
		text-align: center;
		padding-top: 60px;
	}



	&__icon {
		width: 50px;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		&:hover {
			width: 40px;
		}

	}


}




















